/* Mobile phones and devices*/
@media screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .column {
        flex: 100%;
        padding: 20px;
    }
}

/* iPads and tablets*/
@media screen and (min-width: 600px) and (max-width: 990px){
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .column {
        flex: 50%;
        padding: 50px;
    }

    header, main, aside {
        max-width: 100%;
    }
}

/* Laptops and desktops */
@media screen and (min-width: 991px){
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .column {
        flex: 33%;
        padding: 50px;
    }

    header, main, aside {
        max-width: 100%;
    }
}

